body{
    background-color: rgb(235, 199, 233);
}
.qr-label {
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    margin-top: 10px;
}
#qrcode{
    width: 200px;
    height: 200px;
    margin: 5px auto;
    margin-top: 150px;
    padding: 10px;
    border: 0.5px solid #000;
   display: flex;      
  justify-content: center; 
  align-items: center;
}
